
{% extends 'base/base.html' %}
{% load static %}

{% block titulo %}
Iniciar Sesion
{% endblock titulo %}


{% block body %}


<body>
   
    <div class="col mb-12">
    </div>
    <!-- Titulo e imagen -->
    <div class="container">
        <div class="row">
            <!-- Izquierda -->
            <div class="col-md-6">
                <h1>
                    <p class="text-start">Valparaiso Unido</p>
                </h1>
                <p class="text-start">"Valparaíso Unido emerge como un faro de seguridad y solidaridad, pensado tanto
                    para los residentes arraigados en esta región como para los visitantes que la descubren. Nuestra
                    misión va más allá de ser simplemente un medio de comunicación convencional; nos comprometemos a ser
                    mucho más que eso. Nos convertimos en el puente que conecta a la comunidad con información vital que
                    puede ser crucial en momentos de crisis, y así contribuir a salvar vidas."
                </p>
            </div>
            <!-- Derecha -->
            <div class="col-md-6">
                <img src="/static/img/valparaiso.jpg" alt="Imagen de Valparaiso" class="img-fluid w-100">
            </div>
        </div>
    </div>
    <!-- Cards con noticias -->
    <div class="container">
        <div class="row">
            <div class="col-md-4 d-flex">
                <div class="card " >
                    <img src="/static/img/valpoNoti1.png" class="card-img-top w-100" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"
                            style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;">
                            Incendios en Valparaíso: aún no se define ayuda para reconstruir casas de
                            campamentos que no figuran en catastro del Minvu</h5>
                          
                        <p class="card-text"
                            style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;">
                            Hasta el 10 de febrero pasado la Municipalidad de Viña del Mar estimaba que
                            2.175 viviendas de campamentos fueron consumidas, cerca del 30% de los hogares damnificados
                            en esa comuna.</p>
                        <a href="https://www.ciperchile.cl/2024/02/19/incendios-en-valparaiso-aun-no-se-define-ayuda-para-reconstruir-casas-de-campamentos-que-no-figuran-en-catastro-del-minvu/"
                            class="btn btn-primary " target="_blank">Ir a ver</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="card" >
                    <img src="/static/img/valpoNoti2.png" class="card-img-top w-100" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"
                            style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;">
                            Al menos dos menores muertos debido a los incendios en Valparaíso, Chile
                        </h5>
                        <br>  
                        <p class="card-text"
                            style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;">
                            Al menos dos menores fallecieron por los incendios ocurridos en Valparaíso,
                            Chile, informó a medios de comunicación Eugenio Riveros, del cuerpo de bomberos de la
                            ciudad, durante las primeras horas de este jueves. Las víctimas tenían entre 10 y 15 años.
                        </p>
                        <a href="https://cnnespanol.cnn.com/2024/03/14/menores-muertos-incendios-valparaiso-chile-orix/"
                            class="btn btn-primary" target="_blank">Ir a ver</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="card " >
                    <img src="/static/img/valpoNoti3.png" class="card-img-top w-100" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"
                            style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;">
                            Incendios descontrolados queman Valparaíso</h5>
                        <p class="card-text"
                            style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;">
                            Lo que se cree que es la ola de incendios forestales más mortífera en Chile
                            arrasó partes de las ciudades de Viña del Mar y Quilpué en la región de Valparaíso de ese
                            país en febrero de 2024.</p>
                        <a href="https://ciencia.nasa.gov/ciencias-terrestres/incendios-descontrolados-queman-valparaiso/"
                            class="btn btn-primary" target="_blank">Ir a ver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock body %}