{% extends "base/base.html" %}
{% load static %}
{% block titulo %}
Productos
{% endblock %}

{% block body%}
<div class="card-container">
    <div class="row justify-content-end">
         
        {% for p in Productos %}
        <div class="col-lg-4"> 
            <div class="card" style="width: 18rem;">
                <img src="{{ p.imagen }}" class="w-100">
                <h4 class="card-title">{{ p.nombre }}</h5>
                <p class="card-text">Precio: {{ p.precio }}$</p>
                <p class="card-text">Descripción: {{ p.descripcion }}</p>
            </div>
        </div>
        {% endfor %}            
        
        </div>
    </div>
</div>
>
    
        
    
{% endblock%}

